.recipe-example {
    color:black;
    font-size: 20px;
}
h1{
    color:black;
    font-family:"Times New Roman", "Brush Script MT", serif;
    font-size:40px;
}
.cover{
    height:auto;
    width:500px;
}